<hr>
<div class="footercontainer d-flex align-items-center flex-column">
  <div class="p-3">Contact me:</div>
  <ul class='d-flex flex-row p-2'>
    <a class="m-2" href="https://www.facebook.com/TranTrongThanhTam"><li><img src="../../assets/icons/facebook.png" width="50px"/></li></a>
    <a class="m-2" href="https://twitter.com/th4nht4m"><li><img src="../../assets/icons/twitter.png" width="50px"/></li></a>
    <a class="m-2" href="https://www.linkedin.com/in/trantrongthanhtam"><li><img src="../../assets/icons/linkedin.png" width="50px"/></li></a>
  </ul>
  <div class="declaration pb-5 font-weight-bold">2020 - Powered by Tam Tran</div>
</div>
