<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae adipisci ipsa illo itaque mollitia dolore natus magni, sapiente vero. Quos eveniet impedit harum ducimus sunt quasi cumque animi totam? Maiores.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae adipisci ipsa illo itaque mollitia dolore natus magni, sapiente vero. Quos eveniet impedit harum ducimus sunt quasi cumque animi totam? Maiores.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae adipisci ipsa illo itaque mollitia dolore natus magni, sapiente vero. Quos eveniet impedit harum ducimus sunt quasi cumque animi totam? Maiores.</p>
<div class="postcontainer" *ngIf="blog">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae adipisci ipsa illo itaque mollitia dolore natus magni, sapiente vero. Quos eveniet impedit harum ducimus sunt quasi cumque animi totam? Maiores.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae adipisci ipsa illo itaque mollitia dolore natus magni, sapiente vero. Quos eveniet impedit harum ducimus sunt quasi cumque animi totam? Maiores.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae adipisci ipsa illo itaque mollitia dolore natus magni, sapiente vero. Quos eveniet impedit harum ducimus sunt quasi cumque animi totam? Maiores.</p>
  <img [src]="blog.img" width="500px" alt=""/>
  <h1>{{blog.title}}</h1>
  <p><em>{{blog.abstract}}</em></p>
  {{blog.content}}
</div>
