.postcontainer {
    max-width: 800px;
    margin-top: 3rem;
}
figure{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
article {
    width:100%;
    margin-top:2rem;
}
h1{
    margin:0;
}
.author {
    font-size: 1rem;
    color: grey;

}