<div class="aboutcontainer d-flex flex-column align-items-left ml-auto mr-auto pl-3 pr-3 text-justify">
  <div class="avatarcontainer rounded-circle mb-3 align-self-center"><img src="../../assets/avatar.jpg" width="200px" height="200px" alt="my avatar"></div>
  <h3 class="align-self-center">Trần Trọng Thanh Tâm</h3>
  <p>Xin chào, tôi tên là Trần Trọng Thanh Tâm.</p>
  <p>Tôi tạo ra blog này chỉ để thỏa mãn sở thích viết lách và cả học cách tạo một trang blog bằng Angular. Thú thật ngay từ đầu tôi không có dự định biến blog này thành một trang web lớn cao siêu gì cả, chỉ một mục đích duy nhất là để luyện tập cách viết một single-page app bằng Angular.</p>
  <p>Tôi có biết react, tuy nhiên khi học react được một thời gian thì tôi nhận ra một điều rằng là cuối cùng thì nó cũng chỉ là một library của Javascript, tức nghĩa là các tính năng rất cần thiết cho một single-page app thì react vẫn phải import và phụ thuộc nhiều vào các thư viện khác bên ngoài. Thú thật thì tôi cảm thấy khá rối trong bố cục sắp xếp của react. Đó là lí do tôi chuyển sang học Angular.</p>
  <p>Cái mà tôi học được ở Angular khá thú vị, khi bạn dùng Angular CLI để tạo ra 1 component mới với cú pháp như sau:</p>
  <kbd>ng generate component &lt;name&gt; [options]</kbd>
  <p>Từng component của nó được tạo ra với đầy đủ html, css và ts riêng biệt, điều này làm tôi cảm thấy việc sắp xếp bố cục hết sức gọn gàng và ngăn nắp.</p>
  <div class="imgcontainer align-self-center">
    <img src="../../assets/about-page/Angular-component.jpg"  alt="demonstration of file arrangment"/>
  </div>
</div>